*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color: white;
    
}
.cabecalho{
    position: absolute;
    top: 28px;
    left: 3%;
    width: 90%;
    max-width: 1790px;
    z-index: 1;
}
#logo{
    width: 10%;
    min-width: 100px;
    margin-left: 3%;
}
.select_botao{
    display: flex;
    flex-direction: row;
    float: right;
}
select{
    position: relative;
    padding: 7px 1px 7px 17px;
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    display: flex;
    margin-right: 27px;
}
.icone_planeta{
    position: absolute;
    right: 205px;
    top: 9px;
    z-index: 1;    
}
.botao_entrar{
    padding: 8px 18px;
    background-color: #e50914;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}
.main{
    width: 100%;
    position: relative;
    height: 785px;
    background-image: url("../img/fundo_netflix.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main h1{
    font-size: 64px;
    max-width: 800px;
    width: 90%;
}
.main h2{
    display: block;
    font-size: 27px;
    font-family: sans-serif;
    font-weight: 400;
    max-width: 800px;
    margin: 16px auto;
}
h3{
    margin-top: 20px;
    display: block;
    font-size: 19.2px;
    font-family: sans-serif;
    font-weight: 400;
    max-width: 800px;
    padding-bottom: 20px;
}
.formulario{
    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    width: 90%;
}
.formulario input{
    width: 70%;
    padding: 25px 10px;
    font-size: 16px;
    font-family: sans-serif;
    border-radius: 2px;
    border: solid 1px #8c8c8c;
}
.formulario button{
    width: 30%;
    font-size: 30px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    border-radius: 2px;
    border: 0;
    color: #fff;
    background-color: #e50914;
    border-radius: 2px;
}
.formulario button:hover{
    background: rgb(253, 0, 0);
}
.main .seta{
    position:absolute;
    top:35%;
    left:96%;
}
.conteudo_principal{
    z-index: 1;
    display: grid;
    justify-items: center;
}
.contorno_preto{
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.section{
    max-width: none;
    background: black;
    padding: 70px 45px;
    border-top: 8px solid #222;
}
.grade_conteudo{    
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.texto{
    max-width: 50%;
    min-width: 40%;
    height: 100%;
    padding:0 48px 0 0;
}
.texto h1{
    font-size: 50px;
    margin-bottom: 17px
}
.text h2{
    font-size: 26px;
    font-weight: 400;
}
.imagem_video{
    width: 48%;
    height: 100%;
    max-height: 340px;
}
.imagem{
    margin: -5% -5% -5% 0;
    position: relative;
}
.imagem img{
    position: relative;
    z-index: 2;
    max-width: 100%;
}
.video{
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    max-width: 400px;
    position: absolute;
    left: 13%;
    top: 20.2%;
}
.video video{
    max-width: 100%;
    max-height: 100%;
}
.download .imagem{
    margin: -8% 0 -4% -15%;
    min-height: 100px;
    width: 100%;
    position: relative;
}
.caixa_download{
    padding: 8px 12px;
    position: absolute;
    left: 16%;
    top: 64%;
    background: #000;
    display: flex;
    align-items: center;
    width: 60%;
    border: 2px solid rgba(255,255,255,.25);
    border-radius: 12px;
    z-index: 1000;
}
.fundo_strangerthings{
    margin: 0 16px 0 0;
}
.fundo_strangerthings img{
    height: 80px;
}
.texto_caixa{
    font-family: sans-serif;
}
.texto_caixa p{
    font-size: 16px;
}
.texto_caixa span{
    font-size: 14.4px;
    color: #0071eb;
}
.multitelas .texto{
    max-width: 100%;
    width: 50%;
}
.multitelas .texto h1{
    width: 105%;
}
.multitelas .imagem{
    margin: -5% -10% 0 0;
}
.multitelas .imagem img{
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
}
.multitelas .video{
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.perfil_kids .texto{
    padding: 0 0 0 48px;
}
.perfil_kids .imagem{
    width: 45%;
    height: 100%;
}
.perfil_kids .imagem img{
    max-width: 100%;
    height: auto;
    margin-top:50px;
    margin-bottom: 50px;
}
.perguntas{
    font-size: 26px;
    font-weight: 400;
}
.perguntas .grade_conteudo{  
    display: flex;
    flex-direction: column;
}
.perguntas_respostas h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 50px;
}
.perguntas_respostas{
    cursor: pointer;
    width: 75%;
    min-width: 50%;
    margin-bottom: 30px;
}
.perguntas_respostas details{
    background: #303030;
    padding: 23px 26px 23px 28px;
    margin-bottom: 10px;
    font-weight: 400;
    width: 93%;  
}
summary::-webkit-details-marker{
    display: none;
}
.perguntas_respostas summary{
    display: flex;
    justify-content: space-between;
}
.perguntas_respostas summary::after{
    list-style: none;
    content:"+";
}
details[open] summary::after{
    transform: rotate(45deg);
}
.perguntas .formulario{
    position: relative;
    width: 65%;
}
.perguntas input{
    padding: 20px 10px;
}
.perguntas .seta{
    position:absolute;
    top:30%;
    left:96%;
}
.informacoes{
    border-top: 8px solid #222;
    color: #757575;
    position: relative;
}
.informacoes p{
   margin: 0 auto;
   width: 87%;
   font-size: 16px;
   margin-bottom: 30px;
}
.informacoes .grade_conteudo{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}
.informacoes a{
    text-decoration: none;
    color: #757575;
}
.informacoes a:hover{
    text-decoration: underline;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
    min-width: 50%;
}
ul li{
    padding: 7px;
    list-style: none;
    width: 100%;
}
.select_rodape{
    margin-top: 40px;
    width: 87%;
    position: relative;
}
.select_rodape select{
    padding-left: 57px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #999;
    background-color:black;
    border: 1px solid #333;
    position: relative;
}
.select_rodape .icone_planeta{
    position: absolute;
    top: 15px;
    left: 20px;
}
.select_rodape p{
    width: 100%;
    font-size: 13px;
    margin-top: 25px;
}